.pointer:hover::after {
  content: '';
  z-index: 9999;
  margin-top: 23px;
  display: block;
  width: 10px;
  border: 2px solid #eee;
  background-color: red;
  height: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(45deg);
  animation: translateUp .4s forwards ease-out;
}

@keyframes translateUp {
  0% {
    transform: translate(-50%, -100%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -200%) rotate(45deg);
  }
}
